.formulario {
    width: 360px;
    margin: 0px auto;
    padding: 15px;
    color: rgb(30, 30, 30);
    background-color: rgb(225, 225, 225);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
}

.formulario label {
    display: block;
    font-weight: bold;
    background-color: transparent;
}

.formulario input {
    width: 100%;
    padding: .6em;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    transition: all ease 300ms;
    outline: none;
}

/* focus */
.formulario input:focus {
    border: 1px solid cornflowerblue;
    box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
}