.formulario {
    margin: 50px auto;
    padding: 1em;
    width: 360px;
    color: rgb(25, 25, 25);
    background-color: rgb(225, 225, 225);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
}

.formulario div {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    background-color: transparent;
    font-size: 18px;
    font-weight: bolder;
}

.formulario input {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    transition: all ease 300ms;
    outline: none;
    padding: 15px 10px;
}

/* focus */
.formulario input:focus {
    border: 1px solid palevioletred;
    box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px -5 rgba(0, 0, 0, 0.75);
}

option,
select {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    transition: all ease 300ms;
    outline: none;
    padding: 15px 10px;
}