.visor {
    width: 360px;
    height: 210px;
    margin: 30px auto;
    color: rgb(25, 25, 25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.2em;
    border-radius: 5px;
    background-color: rgb(200, 150, 200);
    box-shadow: -10px 10px 20px rgb(175, 175, 175),
        10px -10px 20px #ffffff;
}

.resultado,
.mensaje {
    font-weight: 500;
    font-size: 18px;
}